<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% for ad in ad %} <title>{{ad.title}}</title> {% endfor %}
</head>
<body class="m-3">
    {% for ad in ad %}
    <h2>📝 {{ad.title}} (#{{ad.tag}})</h2>
    {% if request.user.is_authenticated %}
		<p>Ваш логин: {{ request.user }} - 
        <a href="{% url 'home' %}">Вернуться на главную страницу</a></p>
	{% else %}
        <p>Гостевой доступ - 
        <a href="{% url 'home' %}">Вернуться на главную страницу</a></p>
	{% endif %} <hr>
        <p>>>> <b>{{ad.author}}</b>, <i>{{ad.time_create}}</i>:</p> {{ad.text|linebreaksbr}}
    {% endfor %}
</body>
</html>